@charset "UTF-8";

@import "mixin";
@import "editor";
@import "normalize";

// global class
html {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    outline:none;
}
body {
    font-size: $rootFontSize;
    line-height: $lineHeightBase;
    position: relative;
    background: $bgColor;
    color: $textColor;
    font-family: $fontFamily;
    overflow-x: hidden;
}
@each $title, $size in $font {
    #{$title} {
        font-size: $size;
    }
}
em {
    font-style: normal;
}
a {
    text-decoration: none;
}
pre {
    word-break: break-word;
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
    text-align: justify;
    white-space: pre-wrap;
}
html, body, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    outline: none;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: normal;
}
ul, li {
    list-style: none;
}
.cube {
    backface-visibility: hidden;
    perspective: 1000;    /* Other transform properties here */
}
.pull-left {
    @include float;
}
.pull-right {
    @include float(right);
}
.clearfix {
    @extend %clearfix;
}
.text-left {
    @include textAlign;
}
.text-center {
    @include textAlign(center);
}
.text-right {
    @include textAlign(right);
}
.text-overflow {
    @extend %text-overflow;
}
.center-block {
    @extend %center-block;
}

/*loading module*/
.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: #eee;
    text-align: center;
}
.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px #fff;
    margin-left: -60px;
    margin-top: -60px;
}
.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 60px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    transform-origin: 30px 30px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 1s infinite linear;
    -moz-animation: rotate 1s infinite linear;
    -o-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;
}
.loader-line-mask .loader-line {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px #03bed4;
}
lesshat-selector {
    -lh-property: 0;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes rotate {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    ;
}
lesshat-selector {
    -lh-property: 0;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes rotate {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    ;
}
// dots slickslider
.dots-container {
    position: absolute;
    text-align: center;
    width: 100%;
    // height: auto;
    bottom: 0;
}
.dots-container li {
    width: 4px;
    height: 4px;
    display: inline-block;
    border-radius: 2px;
    background: rgba(255, 255, 255, .45);
    margin: 3px;
    text-align: center;
    opacity: .75;
}
.dots-container li.slick-active {
    background: #fff;
    opacity: 1;
    transform: scale3d(1.5, 1.5, 1);
}
.dots-container button {
    -webkit-appearance: none;
    text-indent: -9999rem;
    border: 0;
    background: transparent;
    display: none;
}
/*=======download bar=========*/
.download-bar-wrapper {
    height: 63px;
}
.download-bar {
    display: block;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 13px 10px;
    background-color: rgba(42, 49, 55, .98);
    // box-shadow: 0 -10px 10px #ddd;
    overflow: hidden;
    z-index: 99;
    .pull-left {
        height: 37px;
        overflow: hidden;
    }
    .logo {
        display: inline-block;
        width: 37px;
        height: 37px;
        img {
            width: 37px;
        }
    }
    .slogan {
        margin-left: 10px;
        display: inline-block;
        vertical-align: top;
        color: #fff;
        h3 {
            font-size: 14px;
            font-weight: bold;
        }
        p {
            font-size: 11px;
            color: #959595;
        }
    }
    .pull-right {
        width: 77px;
        height: 28px;
        line-height: 37px;
        vertical-align: middle;
        margin-top: 4.5px;
        img {
            width: 100%;
        }
    }
}
/*==========在浏览器里面打开===========*/
.tips {
    display: none;
    background-color: rgba(0,0,0, .85);
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.tipsImg {
    background: url('common/img/bg_prompt.png') no-repeat top right;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15%;
    right: -33.333%;
}






