@charset "UTF-8";

@import "mixin";

/*==============editor===============*/

.torlax-editor {
    margin: rem(50) 0;
    color:rgba(100,110,122,1);
    font-size:rem(28);
    * {
        color:rgba(100,110,122,1);
        font-size:rem(28);
        line-height:rem(42);
    }
    p {
        font-size: rem(28);
        color: rgba(100,110,122,1);
    }
    img {
        // display: block;
        width: 100%;
        // height: rem(380);
        min-height: rem(380);
        margin: rem(30) 0;
    }
    p,ol,ul,blockquote,div{
        margin:rem(30) 0;
        img{
            margin:rem(0) rem(0);
        }
    }
    &:last-child{
        margin-bottom: rem(0);
    }
    h1{
        text-align: center;
        position:relative;
        font-size:rem(28);
        color:#3A3D50;
        // padding-top:rem(48);
        margin-bottom:rem(40);
        // &:before{
        //     content:"";
        //     display:block;
        //     width:rem(30);
        //     height:rem(28);
        //     position:absolute;
        //     top:rem(0);
        //     left:50%;
        //     margin-left:rem(-15);
        //     background:url(../imgs/icon_h1_head.png) no-repeat center center;
        //     background-size:cover;
        // }
        // &:nth-child(1){
        //     padding-top:rem(0);
        //     &:before{
        //         top:rem(54);
        //     }
        // }
    }
    h2,h3,h4,h5,h6{
        font-size:rem(28);
        color:#3A3D50;
    }
    img{
        margin-bottom:rem(20);
        & + i{
            display:block;
            color:#878E99;
            font-size:rem(20);
            line-height: rem(20);
            text-align: center;
            margin-bottom:rem(20);
            font-style:normal;
        }
    }
    b{
        color:rgb(58,61,80);
        font-weight: bold;
    }
    a{
        // color:rgb(31,194,213);
        color:#3A3D50;
        border-bottom: dashed 1px #3A3D50;
    }
    ol{
        padding-left:rem(42);
        color: rgba(100,110,122,1);
        li{
            display: list-item;
            list-style-type:decimal;
            color: rgba(100,110,122,1);
            margin-bottom:rem(30);
            &:nth-last-child(1){
                margin-bottom:0;
                font-size:rem(26);
            }
        }
    }
    ul{
        padding-left:rem(42);
        li{
            position:relative;
            margin-bottom:rem(30);
            &:nth-last-child(1){
                margin-bottom:0;
                font-size:rem(26);
            }
            &:before{
                content:"";
                display:block;
                position:absolute;
                width:rem(10);
                height:rem(10);
                background:#3A3D50;
                left:rem(-30);
                top:rem(16);
            }

        }
    }
    blockquote{
        // background:#EBECEE;
        background:rgba(245,247,247,1);
        // padding:rem(52) rem(20) rem(30) rem(40);
        padding:rem(30) rem(11) rem(30) rem(30);
        margin:0;
        margin:rem(40) 0;
        // color:#3A3D50;
        color:rgba(135,142,153,1);
        // font-size:rem(24);
        font-size: rem(26);
        line-height:rem(38);
        position:relative;
        // &:before{
        //     content:"";
        //     display:block;
        //     position:absolute;
        //     width:rem(18);
        //     height:rem(13);
        //     background:url(../imgs/icon_quotation.png) no-repeat center center;
        //     background-size:cover;
        //     left:rem(20);
        //     top:rem(20);
        // }
    }
    .jl {
        text-align: left;
    }
    .jc {
        text-align: center;
    }
    .jr {
        text-align: right;
    }
}

.special-torlax-editor{
    h1{
        font-size: rem(36);
        color:rgba(37,41,47,1);
        text-align: left;
        // font-weight: bold;
    }
    h2{
        font-size: rem(32);
        color:rgba(240,71,65,1);
    }
    h3{
        font-size: rem(28);
        color:rgba(58,61,80,1);
    }
}
.recomm-torlax-editor{
    h1{
        font-size: rem(36);
        color:rgba(13,189,209,1);
        text-align: left;
        // font-weight: bold;
    }
    h2{
        font-size: rem(32);
        color:rgba(240,71,65,1);
    }
    h3{
        font-size: rem(28);
        color:rgba(58,61,80,1);
    }
}

