<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="cache-control" content="max-age=0"/>
	<meta http-equiv="cache-control" content="no-cache"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>Vue2-Express-Webpack-MongoDB</title>
	<script>
	var docEl = document.documentElement;
	var	recalc = function() {
		var clientWidth = docEl.clientWidth;
		if (!clientWidth) return;
		docEl.style.fontSize = 60 * (clientWidth / 750) + 'px';
	};
	document.addEventListener('DOMContentLoaded', recalc, false);
	window.addEventListener('resize',recalc,false);
	</script>
</head>
<body>
<div id="app"></div>
</body>
</html>