<div class="download-bar-wrapper">
	<div class="pull-left">
		<div class="logo"></div>
		<div class="slogan">
			<h3>注册送200元新人礼包</h3>
			<p>掌上淘旅行，年轻人必备app</p>
		</div>
	</div>
	<div class="pull-right">
		<a href="" class="download-bar openAppBtn">打开</a>
		<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.torlax.tlx" class="download-bar downloadBtn" data-track="baidu">下载</a>
	</div>
	<div class="close_btn"><span class="close_btn_img"></span></div>
</div>
<div class="hidden-download-bar-bg"></div>
<div class="hidden-download-bar-ele"></div>
<div class="hidden-download-bar-ele2"></div>
