<script src="<!-- @echo LIBS -->jquery-2.2.3.min.js"></script>
@@js

<!-- @if NODE_ENV='production' -->
<script>
	var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?20ea318a33df2f4ff6d1bc547644ea88";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
<!-- @endif -->

<!-- @if NODE_ENV='development' -->
<script>
	var _hmt = _hmt || [];
</script>
<!-- @endif -->
</body>
</html>